.square {
    aspect-ratio: 1 / 1; /* largeur = hauteur */
    display: flex;       /* pour centrer le contenu */
    justify-content: center;
    align-items: center;
}


#message {
    margin-left: 150px;
}
